#projects {
  .heading {
    font-size: 1.875rem;
    font-weight: 500;
    line-height: 2.25rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    place-items: center;
  }

  .card {
    transition-duration: 300ms;
    transition-property: background-color, opacity, transform, backdrop-filter;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .card:hover {
    transform: scale(1.05);
  }

  .card_image {
    aspect-ratio: 16 / 10;
    border-radius: 0.25rem;
    height: auto;
    object-fit: cover;
    width: 100%;
  }

  .card_title {
    bottom: 0.5rem;
    color: var(--gray-200);
    left: 1rem;
    position: absolute;
  }

  .card_title span {
    font-weight: var(--bold);
  }

  .card:hover .card_overlay {
    display: block;
  }

  .card_overlay {
    background-color: var(--bg-gray-900);
    border-radius: 0.25rem;
    display: none;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
}
