<section class="dialog-section">
  <h2>Trigger a dialog</h2>
  <p>A simple example of a dialog</p>
  <button id="open-dialog">Open Dialog</button>

  <dialog>
    <p>Greetings, one and all!</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatibus nemo culpa similique dignissimos
      obcaecati enim. Veritatis eligendi ipsum, quos sit delectus dignissimos ipsa saepe, culpa vel tenetur, expedita
      iste.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatibus nemo culpa similique dignissimos
      obcaecati enim. Veritatis eligendi ipsum, quos sit delectus dignissimos ipsa saepe, culpa vel tenetur, expedita
      iste.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatibus nemo culpa similique dignissimos
      obcaecati enim. Veritatis eligendi ipsum, quos sit delectus dignissimos ipsa saepe, culpa vel tenetur, expedita
      iste.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatibus nemo culpa similique dignissimos
      obcaecati enim. Veritatis eligendi ipsum, quos sit delectus dignissimos ipsa saepe, culpa vel tenetur, expedita
      iste.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatibus nemo culpa similique dignissimos
      obcaecati enim. Veritatis eligendi ipsum, quos sit delectus dignissimos ipsa saepe, culpa vel tenetur, expedita
      iste.
    </p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi voluptatibus nemo culpa similique dignissimos
      obcaecati enim. Veritatis eligendi ipsum, quos sit delectus dignissimos ipsa saepe, culpa vel tenetur, expedita
      iste.
    </p>
    <form method="dialog">
      <button>OK</button>
    </form>
  </dialog>
</section>
